canvas {
  background: 
    linear-gradient(
      hsl(200, 50%, 80%) 0%, 
      hsl(200, 30%, 95%) 75%)
  ;
  
}

#building {
  left: auto;
  height: 100;
  position: absolute;
  top: auto;
  width: 100%;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
} 

.header {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background:url('../images/portfolio1.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* The two lines below make the photo opaque. No Apacity = 1  Full Opacity = 0  :-) */
  opacity: 0.75;
  line-height: 2.8em;
}

.header h1 {
  padding-top: 2.25em;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  font-family: futura_ltbook,sans-serif;
  font-size: 50px;
  Text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  width: 100%;  
}

.map-container{
  width: 100%;
  margin:auto;
}

#map_container{
  position: relative;
}
#map{
  min-height: 500px;
    overflow: hidden;
    padding-bottom: 25%;
    padding-top: 30px;
    position: relative;
}
