canvas {
  background: 
    linear-gradient(
      hsl(200, 50%, 80%) 0%, 
      hsl(200, 30%, 95%) 75%)
  ;
  
}

#building {
  left: auto;
  height: 100;
  position: absolute;
  top: auto;
  width: 100%;
}